/*Global Style
-------------------------------------------------*/ 
body{
    color: #EDFFEC ;
    background: #042a2b;
}

img {
    width: 300px;
}

a{
    color: #4C9F70; 
}

h2 {
    color: #618985;
    font-weight: bolder;
}

h3{
    color: #2D728F;
}

h4 {
    color: #AFCBFF;
}
/*Profile 
-------------------------------------------------*/ 
.header {
    /* background: #F24236; */
}


/*Projects 
-------------------------------------------------*/ 
.projects {
    /* background: #715b5b; */
}

/*Work Experience 
-------------------------------------------------*/ 
.work_experience {
    /* background: #2D728F; */
}
/*Education 
-------------------------------------------------*/ 
.education {
    /* background: #F24236; */
}

/*Footer 
-------------------------------------------------*/ 
.footer {
    /* background: #B2ABF2; */
}

.footer a {

}
